{% extends 'layout.html.twig' %}



{% block content %}
<main>


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


 


<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Submit">
    {{ form_end(form) }}
</div>


{% endblock %}
</main>
{% endblock %}
