<!doctype html>
<html lang="en">
    <head>
         <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

       {% block stylesheets %}{% endblock %}

    </head>
    <body>
    {% block body %}

        {% block navigation %}        {% endblock %}
        {% block content %}           {% endblock %}
        {% block footer %}            {% endblock %}
        {% block javascripts %}       {% endblock %}

    {% endblock %}


    </body>

</html>
